<% content_for :header do %>
    <h1>Editing Collection</h1>
<% end %>

<article>
    <%= render 'form' %>
</article>

<%= link_to 'to collection', @collection %>
<%#= link_to 'Back', collections_path %>
